* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	overflow: auto;
	max-height: 100%;
	width: calc(100% + 17px);
}

.btn-animate {
	border: none;
	outline: none;
	padding: 0 9px 0 1px;
	position: relative;
}

.btn-animate::after {
	border: 0 solid transparent;
	transition: all 0.5s;
	content: "";
	height: 0;
	position: absolute;
	width: 0px;
}

.btn-animate::after {
	border-bottom: 1px solid #e7d1ff;
	bottom: -4px;
	left: 0;
}

.btn-animate:hover::after {
	width: 100%;
}

.btn-animate:hover {
	animation: PULSE 1.25s infinite;
}

.btn-animate::after {
	animation: PULSE 1.25s infinite;
}

@-webkit-keyframes PULSE {
	0% {
		color: #ced2d9;
	}
	100% {
		color: #ffffff;
	}
}
@-ms-keyframes PULSE {
	0% {
		color: #ced2d9;
	}
	100% {
		color: #ffffff;
	}
}
@keyframes PULSE {
	0% {
		color: #ced2d9;
	}
	100% {
		color: #ffffff;
	}
}
