* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html {
	overflow: hidden;
	height: 100%;
}

body {
	overflow: auto;
	max-height: 100%;
	width: calc(100% + 17px);
}
