nav {
	width: 99.4px;
	display: flex;
	justify-content: flex-end;
}
.hideMenuNav {
	display: none;
}
.showMenuNav {
	position: fixed;
	width: 75px;
	height: 90%;
	top: 40px;
	left: 2.5%;
	background: #0003;
	z-index: 50;
	border-radius: 15px;
}
