header {
	background: #170325;
}
.bg-stars {
	margin-top: -40px;
	background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzMxMjNmMWQ0MjQ1ZmZhMGZmYWQ3NjcwNTRlNTBjODc2YjQ1M2JjMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/0MntFC3sWkoQLbXzak/giphy.gif");
	background-position: center;
	height: 100vh;
	background-size: auto;
	color: #fefefe;
}
.gradient3 {
	height: 100vh;
	background-image: linear-gradient(
		to bottom,
		#8b1fff,
		#6521c5,
		#441c8c,
		#291456,
		#140425
	);
}

/* A N I M A T I O N S */

.animate-LtoR-nR {
	animation-name: Animation-Left-to-Right-nR;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-RtoL-nR {
	animation-name: Animation-Right-to-Left-nR;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-BtoU-nR {
	animation-name: Animation-Bottom-to-Up-nR;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-UtoB-nR {
	animation-name: Animation-Up-to-Bottom-nR;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}
/* Same but with Rotate */
.animate-LtoR {
	animation-name: Animation-Left-to-Right;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-RtoL {
	animation-name: Animation-Right-to-Left;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-BtoU {
	animation-name: Animation-Bottom-to-Up;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

.animate-UtoB {
	animation-name: Animation-Up-to-Bottom;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: initial;
}

@keyframes Animation-Right-to-Left-nR {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes Animation-Left-to-Right-nR {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes Animation-Left-to-Right-nR {
	0% {
		opacity: 0;
		transform: translateX(-250%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes Animation-Right-to-Left-nR {
	0% {
		opacity: 0;
		transform: translateX(250%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes Animation-Bottom-to-Up-nR {
	0% {
		opacity: 0;
		transform: translateY(250%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes Animation-Up-to-Bottom-nR {
	0% {
		opacity: 0;
		transform: translateY(-250%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Same but with R o t a t e */
@keyframes Animation-Left-to-Right {
	0% {
		opacity: 0;
		transform: translateX(-250%);
		rotate: -90deg;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes Animation-Right-to-Left {
	0% {
		opacity: 0;
		transform: translateX(250%);
		rotate: 90deg;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		rotate: 0deg;
	}
}
@keyframes Animation-Left-to-Right {
	0% {
		opacity: 0;
		transform: translateX(-250%);
		rotate: -90deg;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		rotate: 0deg;
	}
}
@keyframes Animation-Right-to-Left {
	0% {
		opacity: 0;
		transform: translateX(250%);
		rotate: 90deg;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		rotate: 0deg;
	}
}
@keyframes Animation-Bottom-to-Up {
	0% {
		opacity: 0;
		transform: translateY(250%);
		rotate: 90deg;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		rotate: 0deg;
	}
}
@keyframes Animation-Up-to-Bottom {
	0% {
		opacity: 0;
		transform: translateY(-250%);
		rotate: -90deg;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		rotate: 0deg;
	}
}
